[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "external/frame"]
	path = external/frame
	url = https://github.com/anirul/Frame.git
	branch = master
